<div class="btn-group">
   <a class="btn btn-primary" href="#"><i class="icon-eye-open icon-white"></i>&nbsp;Detalles</a>
   <a class="btn btn-success" href="#"><i class="icon-shopping-cart icon-white"></i>&nbsp;Comprar</a>
</div>
