<div class="row-fluid">
    <div class="span12">
        <div class="page-header">
		    <h1>Contacto<small>&nbsp;&nbsp;&nbsp;&nbsp;Datos de contacto</small></h1>
	    </div>
    </div>			
</div>

<div class="row-fluid">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#1" data-toggle="tab">Contacto</a></li>
            <li><a href="#2" data-toggle="tab">Mail</a></li>
            <li><a href="#3" data-toggle="tab">Telefono</a></li>
            <li><a href="#4" data-toggle="tab">Fax</a></li>
        </ul>    
        <div class="tab-content">
            <div class="tab-pane active" id="1">
                <p>Yago Perez Vazquez</p>
            </div>
            <div class="tab-pane" id="2">
                <p>mimail@mail.com</p>
            </div>    
            <div class="tab-pane" id="3">
                <p>0034 123456789</p>
            </div>    
            <div class="tab-pane" id="4">
                <p>0034 987654321</p>
            </div>                
        </div>
    </div>
</div>

