<div class="hero-unit">
  <h1>Bienvenidos a nuestra pagina!</h1>
  <p>
	Texto principal de bienvenida a nuestra pagina. Prueba a redimensinar el 
	navegador y comprobaras como se adapta el contenido
  </p>
  <p><a class="btn btn-primary btn-large">Mas informacion</a></p>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="page-header">
		    <h1>Productos destacados</h1>
	    </div>
    </div>			
</div>

<div class="row-fluid">
  <div class="span4 prod">
	<h2>Producto 3</h2>
    <p><span class="label label-success">Categoria 1</span></p>
	<p><em>
	  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla metus elit, egestas eu malesuada id
	</em></p>
    @Html.Partial("_productButtons")
  </div>
  <div class="span4 prod">
	<h2>Producto 12</h2>
    <p><span class="label label-success">Categoria 2</span></p>
	<p><em>
	  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla metus elit, egestas eu malesuada id
	</em></p>
	@Html.Partial("_productButtons")
  </div>
  <div class="span4 prod">
	<h2>Producto 15</h2>
    <p><span class="label label-success">Categoria 3</span></p>
	<p><em>
	  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla metus elit, egestas eu malesuada id
	</em></p>
	@Html.Partial("_productButtons")
  </div>
</div>

